.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(145, 188, 193);
}

.formWrapper {
    width: 50%;
    max-width: 600px;
    background-color: rgb(90, 148, 154);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.formWrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.formGroup {
    margin-bottom: 15px;
}

.text-danger {
    font-size: 0.875rem;
    color: rgb(255, 100, 100);
}

.btn-primary {
    width: 100%;
    background-color: white;
    color: rgb(90, 148, 154);
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255, 0.8);
}


.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}