.footer {
    background-color: #5A949A !important;
    /* padding: 20px 0; */
}

.footer-container {
    background-color: #5A949A !important;
    border-radius: 8px;
    padding: 20px;
}

.footer-card {
    background-color: white !important;
    border-radius: 8px;
}